<div class="post h-entry clearfix">
  <div class="textwrap">
    <div class="title p-name">
      <%= h post.title %>
    </div>

    <div class="e-content">
      <div class="text p-summary">
        <%== m post.text %>
      </div>

      <ul>
        <% post.entries.each do |e| %>
          <li><a target="_blank" href="<%= e.url %>" title="Read <%= ago e.date %>."><%= e.title %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="meta">
    <div class="inner">
      Written by <a rel='author' href='http://plus.google.com/111804496018663363679' class="h-card">Nat</a>
      <time class="dt-published" datetime="<%= post.updated_at %>"><%== t post.updated_at %></time> <!-- TODO: Make sure datetime="" is a valid ISO8601 timestamp -->
      <a title="permalink" href="<%= url_for(:post, :id => post.id) %>" class="u-url">#</a>
      <% if logged_in? %>
        <a title="edit" href="<%= url_for(:edit, :id => post.id) %>">e</a>
      <% end %>
    </div>

    <div class="share">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style"
        addthis:url="http://tumble.io<%= url_for(:post, :id => post.id) %>"
        addthis:title="Tumble.io Post #<%= post.id %>"
        >
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_email"></a>
        <a class="addthis_button_pinterest_share"></a>
        <a class="addthis_button_compact"></a>
      </div>
      <!-- AddThis Button END -->
    </div>
  </div>
</div>
