<div class="post clearfix">
  <div class="textwrap">
    <div class="title">
      <%= h post.title %>
    </div>

    <div class="text">
      <%= m post.text %>
    </div>

    <ul>
      <% post.entries.each do |e| %>
        <li><a href="<%= e.url %>" title="Read <%= ago e.date %>."><%= e.title %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="meta">
    <div class="inner">
      <%= t post.updated_at %> <a title="permalink" href="<%= url_for(:post, :id => post.id) %>">#</a>
    </div>
  </div>
</div>
