<ul>
  <% @feeds.each do |f| %>
    <li><a href="<%= f.url %>"><%= f.url %></a> - <%= f.kind %></li>
  <% end %>
</ul>

<form method="post" action="<%= url_for :rss %>" class="form-inline">
  <input type="text" name="url" class="input-large" placeholder="RSS Feed" />
  <input type="submit" class="btn" />
</form>

<form method="post" action="<%= url_for :twitter %>">
  <button type="submit" class="btn">Add Twitter</button>
</form>

<form method="post" action="<%= url_for :github %>">
  <button type="submit" class="btn">Add Github</button>
</form>
