<div class="row-fluid">
  <form method="post" action="<%= url_for(:post) %>">
    <input name="authenticity_token" value="<%= session[:csrf] %>" type="hidden" />

    <input type="text" class="span12" placeholder="Optional Title..." name="title"/>
    <textarea name="text" class="span12" rows="10" placeholder="Write your post..."></textarea>

    <div class="wordcount lead muted">0</div>

    <ul>
      <% @entries.each do |f| %>
        <label class="checkbox">
          <li><input name="link[]" type="checkbox" value="<%= f.id %>"> <a href="<%= f.url %>"><%= f.title %></a> - <%== t f.date %></li>
        </label>
      <% end %>
    </ul>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Create</button>
      <button type="button" class="btn disabled">Cancel</button>
    </div>
  </form>
</div>
