<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <% if @title %>
      <title><%= @title %> | Tumble.io</title>
    <% else %>
      <title>Tumble.io</title>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="author" href="humans.txt" />

    <%= feed_tag(:atom, url_for(:feed), :title => "atom") %>

    <!-- CSS -->
    <link href="http://necolas.github.com/normalize.css/2.1.0/normalize.css" rel="stylesheet">
    <link href="/css/new.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/img/favicon.png">
     -->
  </head>

  <body>
    <div id="wrap" class="clearfix">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">

          <h1><a href="<%= url_for(:index) %>">Tumble.io</a></h1>

          <ul class="nav muted">
            <li><a href="<%= url_for :about %>">About</a></li>

            <% if logged_in? %>
              <li><a href="<%= url_for :post %>">New</a></li>
              <li><a href="<%= url_for :feeds %>">Feeds</a></li>
              <li><a href="<%= url_for :logout %>">Logout</a></li>
            <% end %>

            <li><a href="<%= url_for :feed %>" class="feed" title="Rss Feed"><img src="/img/49.png" /></a>
          </ul>
        </div>
        <p class="lead"><%= @page_lead %></p>
      </div>

      <div id="main" class="container">
        <%= yield %>
      </div>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-333449-14']);
      _gaq.push(['_setDomainName', 'tumble.io']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script src="/js/jquery.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
